.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.register-page .form-container {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.01);
    background: #fff;
    padding: 30px;
}