<article class="post">
    <h6>{{post.userId.username}}</h6>
    <p><small class="text-muted">Last updated at <time>{{post.updatedAt | date}}</time> </small></p>
    <p>
        <ng-template [ngIf]="!editing" [ngIfElse]="edit">
            <strong>{{post.text}} </strong>
            <ng-template [ngIf]="currentUser.id === post.userId.id">
                <small><a [routerLink]="" (click)="onClickEdit()">Edit</a> | <a [routerLink]=""
                        (click)="onDelete()">Delete</a></small>
            </ng-template>
        </ng-template>

        <ng-template #edit>
            <input type="text" class="form-control" value="{{post.text}}" name="edit_{{post.id}}" #edit
                (keyup.enter)="onEdit(edit.value)" placeholder="Please edit your post." />
        </ng-template>
    </p>
    <hr />

    <section>
        <div *ngFor="let comment of post.comments;trackBy: trackByFn">
            <app-comment [comment]="comment"></app-comment>
        </div>
    </section>
    <div class="form-group">
        <input type="text" class="form-control" name="message_{{post.id}}" #message
            (keyup.enter)="onComment(message.value)" placeholder="Please write your comment." />
    </div>
</article>