<article class="post container-fluid">
    <h6>{{post.userId.username}}</h6>
    <p><small class="text-muted">Last updated at {{post.updatedAt}}</small></p>
    <ng-template [ngIf]="currentUser.id === post.userId.id">
        <p> <strong>{{post.text}} </strong><small><a [routerLink]="">Edit</a> | <a [routerLink]=""
                    (click)="onDelete()">Delete</a></small></p>

    </ng-template>

    <hr />

    <div *ngFor="let comment of post.comments">
        <app-comment [comment]="comment"></app-comment>
    </div>

    <form action="">
        <div class="form-group">
            <label class="sr-only" for="message">post</label>
            <input type="text" class="form-control" name="message_{{post.id}}" #message
                (keyup.enter)="onComment(message.value)" placeholder="Please write your comment." />
        </div>
    </form>
</article>